.cadastro-card {
  margin: 40px 425px 100px 425px;
  border-radius: 10px;
}

.registrar {
  padding: 3%;
  padding-left: 37%;
}

.telefone {
  padding-left: 5%;
}

.cpf,
.nome,
.email,
.senha,
.confirmarSenha {
  padding-left: 5%;
}

.confirmarSenha {
  padding-left: 5%;
}

.btnLoginRegistrar {
  padding: 4%;
  padding-left: 42%;
}

.cpf {
  width: 90%;
}

.email {
  width: 90%;
}
