.chat {
  margin-top: 5%;
  margin: 30px 300px 100px 300px;
  border-radius: 10px;
}

img {
  margin-left: 10%;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.imgConsulta {
  margin-left: 60%;
}

.chatFala {
  padding-left: 20%;
  padding-top: 0%;
}

.linhaConsulta {
  margin-right: 40%;
}

.linha {
  padding-left: 0%;
  margin-right: 20%;
}

.frase {
  margin-right: 20%;
}

.img2 {
  margin-left: 82%;
  margin-top: 5%;
}

.chatFala2 {
  padding-left: 15%;
}

.linha2 {
  margin-right: 25%;
}

.frase2 {
  margin-right: 25%;
}

.img3 {
  margin-top: 5%;
}

.img4 {
  margin-top: 5%;
  margin-left: 82%;
  margin-top: 5%;
}

.texto {
  padding-left: 45%;
  margin-left: 17%;
  margin-top: 5%;
}

.btnConsulta {
  border-radius: 10%;
  padding-left: 75%;
}

.video {
  padding-left: 80%;
  font-size: 30%;
}
