<mat-card class="chat">
  <div>
    <img class="imgConsulta" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="img1" />
    <a mat-icon-button matTooltip="Vídeo Chamada" routerLink="/call" color="primary" class="video">
      <mat-icon>duo</mat-icon>
    </a>

    <div class="chatFala">
      <h5>
        <b>Consulta solicitada as</b> 13 horas<br />
        Dia: 15/06/2020
      </h5>
      <hr class="linhaConsulta" />
      <p class="frase">
        Estou sentindo dores de cabeça constante
      </p>
    </div>
  </div>

  <mat-card-content class="chatMSG">
    <div>
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="img2" />
      <div class="chatFala2">
        <b>Lionel Messi</b> 12 min Agost
        <hr class="linha2" />
        <p class="frase2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor dolor sit amet
        </p>
      </div>
    </div>
  </mat-card-content>

  <div>
    <img class="img" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="img3" />

    <div class="chatFala">
      <b>João Felix</b> 12 min Agost
      <hr class="linha" />
      <p class="frase">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
      </p>
    </div>
  </div>

  <div>
    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="img4" />
    <div class="chatFala2">
      <b>Lionel Messi</b> 12 min Agost
      <hr class="linha2" />
      <p class="frase2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor dolor sit amet
      </p>
    </div>
  </div>

  <div>
    <div class="form-group basic-textarea">
      <textarea class="texto" id="exampleFormControlTextarea2" rows="3" placeholder=""></textarea>
    </div>
  </div>
  <mat-card-actions class="btnConsulta">
    <button mat-raised-button color="primary">Enviar</button>
  </mat-card-actions>
</mat-card>
