<div id="page">
  <h1 mat-header>
    <i class="fas fa-diagnoses"></i>
    Consulta
  </h1>

  <mat-divider></mat-divider>

  <h3 mat-subheader>
    Consulta Solicitada às 1:34. Dia 14/06/2020
  </h3>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Sintomas
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Sintomas relatados</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Diagnóstico
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Digite a conclusão</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Tratamento
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Tratamento sugerido</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button (click)="openSnackBar('Diagnóstico registrado!', 'Sucesso')">Salvar</button>
    <button mat-raised-button (click)="goBack()">Cancelar</button>
  </div>
</div>
