<mat-list>
  <h1 mat-header>Mural de Solicitação Consultas</h1>

  <mat-card>
    <mat-list-item *ngFor="let consulta of consultas$ | async as c; let i=index">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h4 mat-line> {{ consulta.caminhoneiro }} </h4>
      <mat-chip-list mat-line>
        <mat-chip>{{ consulta.especialidade }}</mat-chip>
      </mat-chip-list>
      <button mat-icon-button matTooltip="Confirmar Atendimento" color="primary" (click)="openDialog(consulta)">
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Realizar Atendimento" routerLink="/chat" color="accent">
        <mat-icon>duo</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Registrar Diagnóstico" routerLink="/diagnostico" color="warn">
        <mat-icon>receipt</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-card>

</mat-list>
