mat-expansion-panel {
  width: 95%;
  margin-left: 2.5%;
}

.card {
  width: 45%;
  margin-top: 2%;
}

.incident {
  width: 30%;
  margin-top: 2%;
}

.separador {
  margin-top: 2px;
  margin-bottom: 2px;
}

#ok {
  background-color: #2a9d8f;
}

#nok {
  background-color: #e9c46a;
}

#truck {
  background-color: #d8e2dc;
}

#doctor {
  background-color: #a8dadc;
}

#motor {
  background-color: #c38e70;
}

#crash {
  background-color: #b56576;
}

#security {
  background-color: #ffbe0b;
}
