<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span>na.Boleia</span>
  <span></span>
  <div fxLayoutGap="20px">
    <a mat-button routerLink="dashboard">
      <i class="fas fa-columns"></i>
      Dashboard
    </a>
    <a mat-button routerLink="consultas" [matMenuTriggerFor]="menu">
      <i class="fas fa-calendar-check"></i>
      Consulta
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="profissional">
        <i class="fas fa-user-nurse"></i>
        Cadastrar Profissional
      </button>
      <button mat-menu-item routerLink="solicitacoes">
        <i class="fas fa-clipboard-list"></i>
        Solicitações
      </button>
    </mat-menu>

    <a mat-button routerLink="alertas">
      <i class="fas fa-exclamation-circle"></i>
      Alertas
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
