<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="login">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome" name="username" required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Senha"
                type="password"
                name="password"
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions class="btnLogin">
    <button mat-raised-button color="primary">Login</button>
  </mat-card-actions>
  <h5 class="facaLogin">Faça Login com suas redes sociais</h5>
  <span><i class="fab fa-facebook"></i></span>
  <span><i class="fab fa-google"></i> </span>
  <h5 class="registrar">
    Não tem uma conta ? <a href="#"><b>Registrar</b></a>
  </h5>
</mat-card>
