.example-card {
  margin: 80px 500px 100px 500px;
  border-radius: 10px;
}

.example-full-width {
  padding: 10px;
  padding-left: 35px;
}

.btnLogin {
  padding: 10px;
  padding-left: 140px;
  padding-top: 0px;
}

.login {
  padding: 10px;
  padding-left: 120px;
}

.facaLogin {
  padding-left: 80px;
}

.fa-facebook {
  padding-top: 10px;
  padding-left: 130px;
  font-size: 25px;
}

.fa-google {
  padding-top: 10px;
  padding-left: 25px;
  font-size: 25px;
}

.registrar {
  padding-top: 15px;
  padding-left: 85px;
}
