.example-card {
  margin-top: 10%;
  width: 40%;
  border-radius: 10px;
}


mat-form-field {
  width: 100%;
}

i {
  font-size: 2rem;
}

#social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
